[submodule "graph_schema"]
	path = graph_schema
	url = git@github.com:POETSII/graph_schema.git
[submodule "yosys"]
	path = yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "FYP_Interim_Report"]
	path = FYP_Interim_Report
	url = git@github.com:ThunderMikey/FYP_Interim_Report.git
